In [1]:
import pandas as pd
from sklearn.manifold import TSNE
# from umap import UMAP
import plotly.express as px

In [2]:
vertices_path = '/Users/srinath/Desktop/map_generalisation_ml/Vertices_Labels'

In [3]:
california_df = pd.read_parquet(f'{vertices_path}/California.parq')
florida_df = pd.read_parquet(f'{vertices_path}/Florida.parq')
idaho_df = pd.read_parquet(f'{vertices_path}/idaho.parq')
louisiana_df = pd.read_parquet(f'{vertices_path}/Louisiana.parq')
maine_df = pd.read_parquet(f'{vertices_path}/Maine.parq')
northcarolina_df = pd.read_parquet(f'{vertices_path}/NorthCarolina.parq')
texas_df = pd.read_parquet(f'{vertices_path}/Texas.parq')

In [4]:
def add_state_name_to_col(df, state_name):
    df['state'] = state_name
    return df

In [5]:
california_df = add_state_name_to_col(california_df, 'California')
florida_df = add_state_name_to_col(florida_df, 'Florida')
idaho_df = add_state_name_to_col(idaho_df, 'Idaho')
louisiana_df = add_state_name_to_col(louisiana_df, 'Louisiana')
maine_df = add_state_name_to_col(maine_df, 'Maine')
northcarolina_df = add_state_name_to_col(northcarolina_df, 'North Carolina')
texas_df = add_state_name_to_col(texas_df, 'Texas')

In [6]:
print(f"No of points in California is: {california_df.shape}")
print(f"No of points in Florida is: {florida_df.shape}")
print(f"No of points in Idaho is: {idaho_df.shape}")
print(f"No of points in Louisiana is: {louisiana_df.shape}")
print(f"No of points in Maine is: {maine_df.shape}")
print(f"No of points in North Carolina is: {northcarolina_df.shape}")
print(f"No of points in Texas is: {texas_df.shape}")

No of points in California is: (186383, 12)
No of points in Florida is: (1087787, 12)
No of points in Idaho is: (35244, 13)
No of points in Louisiana is: (494846, 12)
No of points in Maine is: (294372, 12)
No of points in North Carolina is: (518948, 12)
No of points in Texas is: (336584, 12)

In [7]:
concatenated_df = pd.concat([california_df, idaho_df])
features = concatenated_df[['Longitude', 'Latitude', 'len_forward', 'len_backward', 'angle', 'offset', 
                           'ratio1', 'ratio2']] 
features

,Longitude,Latitude,len_forward,len_backward,angle,offset,ratio1,ratio2
0,-117.212186,32.775095,78.952213,12.728309,0.000000,0.000000e+00,0.109734,-0.000000e+00
1,-117.211686,32.773995,57.527132,78.952213,20.923366,2.183531e+08,1.008215,1.613041e+06
2,-117.212157,32.774460,52.356821,57.527132,158.746826,2.898872e+08,0.962930,2.540326e+06
3,-117.212486,32.775195,32.526329,52.356821,164.381949,2.845860e+08,0.654295,2.193641e+06
4,-117.212742,32.775503,20.037115,32.526329,155.695381,2.833410e+08,0.498574,2.687541e+06
...,...,...,...,...,...,...,...,...
35239,-116.058662,49.000841,771.782362,205.941961,179.972897,4.406100e+00,2275.218710,1.025324e+01
35240,-116.051729,49.000893,257.260781,771.782362,179.983464,3.190659e+00,2305.907750,7.149714e+00
35241,-116.049418,49.000911,7.600955,257.260781,167.919889,9.002430e+01,-22.766480,-7.738137e+00
35242,-116.049350,49.000897,22.012557,7.600955,179.564103,2.503370e+00,-2.644548,-2.235561e-01
35243,-116.049153,49.000858,7.482380,22.012557,178.955908,5.908403e+00,-2.904801,-5.818875e-01

In [8]:
features.isna().sum()

Longitude       0
Latitude        0
len_forward     1
len_backward    0
angle           0
offset          0
ratio1          0
ratio2          0
dtype: int64

In [9]:
features_na_drop = features.dropna()
features_na_drop

,Longitude,Latitude,len_forward,len_backward,angle,offset,ratio1,ratio2
0,-117.212186,32.775095,78.952213,12.728309,0.000000,0.000000e+00,0.109734,-0.000000e+00
1,-117.211686,32.773995,57.527132,78.952213,20.923366,2.183531e+08,1.008215,1.613041e+06
2,-117.212157,32.774460,52.356821,57.527132,158.746826,2.898872e+08,0.962930,2.540326e+06
3,-117.212486,32.775195,32.526329,52.356821,164.381949,2.845860e+08,0.654295,2.193641e+06
4,-117.212742,32.775503,20.037115,32.526329,155.695381,2.833410e+08,0.498574,2.687541e+06
...,...,...,...,...,...,...,...,...
35239,-116.058662,49.000841,771.782362,205.941961,179.972897,4.406100e+00,2275.218710,1.025324e+01
35240,-116.051729,49.000893,257.260781,771.782362,179.983464,3.190659e+00,2305.907750,7.149714e+00
35241,-116.049418,49.000911,7.600955,257.260781,167.919889,9.002430e+01,-22.766480,-7.738137e+00
35242,-116.049350,49.000897,22.012557,7.600955,179.564103,2.503370e+00,-2.644548,-2.235561e-01
35243,-116.049153,49.000858,7.482380,22.012557,178.955908,5.908403e+00,-2.904801,-5.818875e-01

In [10]:
tsne = TSNE(n_components=2, random_state=0)

In [ ]:
projections = tsne.fit_transform(features_na_drop)